<!DOCTYPE html>

<!-- public and views folder are opened up automaticaly  -->
<!-- add the stylesheet on your layout file -->

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"
	</head>

	<body>
		In the layout...
			<!-- yield takes you to index.erb -->
			<%= yield %>
	</body>

</html>
